@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	scroll-behavior: smooth;
	background: #f7f8fa;
}

.profile {
	border-radius: 1000px;
	height: 40px;
	width: 40px;
	margin-right: 20px;
}

.share-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.555);
	display: flex;
	justify-content: center;
	align-items: center;
}

.share-div div {
	background-color: white;
	border-radius: 10px;
	padding: 20px 30px;
	font-size: 23px;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.copy-button {
	text-transform: uppercase;
	margin-left: 20px;
	color: rgb(0, 119, 255);
}

.copy-button:hover {
	cursor: pointer;
}
