body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --width: 500px;
  --accent: rgb(194, 194, 194);
}

.button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transform: scale(1.2);
  margin-top: 50px;
}

.button:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.home {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dog-image {
  width: 100%;
  min-height: 100px;
}

a {
  color: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--accent) 1px solid;
  width: 95%;
  max-width: var(--width);
  margin: 20px 0;
}

.flex {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.card-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
}

.card-bottom-left {
  display: flex;
}

.right {
  margin-left: auto;
}

.card-bottom-imgs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@keyframes Like {
  0% {
    transform: scale(1);
    fill: white;
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1);
    fill: #ed4956;
    stroke: #ed4956;
  }
}

@keyframes UndoLike {
  0% {
    transform: scale(1);
    fill: #ed4956;
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1);
    fill: white;
  }
}

.profile {
  border-radius: 1000px;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.share-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-div div {
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 23px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.copy-button {
  text-transform: uppercase;
  margin-left: 20px;
  color: rgb(0, 119, 255);
}

.copy-button:hover {
  cursor: pointer;
}

header {
  top: 0;
  position: fixed;
  width: 90%;
  height: 35px;
  padding: 5px 5%;
  background-color: rgb(255, 255, 255);
  border-bottom: var(--accent) solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 22px;
  font-family: cursive;
}

header img {
  width: 30px
}

footer {
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  padding: 15px 40px;
  position: fixed;
  bottom: 0;
  max-width: var(--width);
  box-shadow: 0 -2px 10px -1px rgba(0, 0, 0, 0.205);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

footer img {
  width: 25px
}