body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transform: scale(1.2);
  margin-top: 50px;
}

.button:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dog-image {
  width: 100%;
}

a {
  color: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  border: rgb(194, 194, 194) 1px solid;
  width: 90%;
  max-width: 500px;
  margin: 40px 0;
}

.flex {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.card-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
}

.card-bottom-left {
  display: flex;
  margin-right: auto;
}

.card-bottom-imgs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@keyframes Like {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.3)
  }
  100% {
    transform: scale(1)
  }
}

.profile {
  border-radius: 1000px;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.share-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-div div {
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 23px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.copy-button {
  text-transform: uppercase;
  margin-left: 20px;
  color: rgb(0, 119, 255);
}

.copy-button:hover {
  cursor: pointer;
}