body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transform: scale(1.2);
  margin-top: 50px;
}

.button:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dog-image {
  width: 100%;
}

a {
  color: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  border: rgb(194, 194, 194) 1px solid;
  width: 90%;
  max-width: 500px;
}

.card-file {
  width: 100%;
}

.flex {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.card-bottom-div {
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.third {
  margin-left: auto;
}